html {
  height: 100%;
}

body { 
  height: 100%;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: -webkit-linear-gradient(rgb(253, 254, 255), rgb(232, 238, 240));
  background-image: -o-linear-gradient(rgb(253, 254, 255), rgb(232, 238, 240));
  background-image: -moz-linear-gradient(rgb(253, 254, 255), rgb(232, 238, 240));
  background-image: linear-gradient(rgb(253, 254, 255), rgb(232, 238, 240));
}

hr {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
}

h1 a, h2 a, h3 a, h4 a, h5 a { 
  text-decoration: none;
}

.subtitle {
  color: rgb(113, 119, 121);
  font-style: italic;
  font-weight:bold;
  font-size: 80%;
}

li { 
  margin-left: 3rem;
  list-style-position: outside;
}

p ul li {
  color: rgb(113, 119, 121);
}

a {
  color: rgb(71, 140, 158);
}

a:hover {
  color: rgb(15, 152, 189);
}

.inner_right_column a {
  text-decoration: none;
}

.date {
  color: rgba(107, 113, 115, 0.8);
  font-size: 80%;
}

#nav_posts_next { 
  text-align: right;
}

figure { 
  text-align: center;
}

figcaption {
  margin-top: 10px;
  font-size: 85%;
  font-style: italic;
  color: rgb(76, 80, 82);
}

blockquote { 
  font-size: 120%;
  rgb(76, 80, 82);
  font-family: "Times New Roman", Georgia, Serif;
  font-style: italic;
}

img {
  max-width: 100%;
  box-sizing: border-box;
}

.unicodes { 
  text-align: right;
}
@media (max-width: 550px) {
  .unicodes { 
    display: none;
  }
}

.sidelinks { 
  padding-bottom: 40px;
}

section.project {
  margin-bottom: 20px;
}

section.project a { 
  text-decoration: none;
}

section.project div.blurb {
  color: rgba(107, 113, 115, 0.8);
  font-style: italic;
  font-size: 80%;
}

div.video {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

div.video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

div.copyright {
  color: rgba(107, 113, 115, 0.8);
  font-style: italic;
  font-size: 80%;
  margin-bottom: 8px;
}

div.resume h1 { 
  font-weight: bold;
  font-variant: small-caps;
  font-size: 6rem;
  color: rgb(46, 90, 102);
}

div.resume h2 { 
  font-variant: small-caps;
  font-weight: bold;
  font-size: 3rem;
  color: rgb(46, 90, 102);
}

div.resume h3 { 
  font-weight: bold;
  font-size: 2rem;
  color: rgb(46, 90, 102);
  margin-bottom: 1rem;
}

div.resume h3 span.sub { 
  font-weight: normal;
  font-style: italic;
  color: rgba(107, 113, 115, 0.8);
}

div.resume h4 { 
  font-weight: bold;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

div.resume h4 span.sub { 
  font-weight: normal;
}

div.resume span.dot { 
   padding-left: 1rem;
   padding-right: 1rem;
}

div.resume p, div.resume ul { 
  margin-bottom: 0.5rem;
}

div.resume section { 
  margin-bottom: 3rem;
}

div.resume a { 
  text-decoration: none;
}

div.resume a:hover { 
  text-decoration: underline;
}